*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Dancing script", cursive;
}
.form{
    display: flex;
}
.nav-center{
    display:flex;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}
.nav-image{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
 }
body{
    background: rgb(219, 231, 231);
}
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 60px;
background: rgb(243, 156, 208);
}
.logo{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.cta{
    background: rgb(216, 227, 226);
    color: rgb(218, 245, 247);
    border: none;
    padding: 10px 18px;
    cursor: pointer;
}
/* .hero {
    display: flex;
    align-items: center;      /* vertically center */
    justify-content: space-between;
    gap: 50px;                /* space between text and image */
    padding: 60px 10%;
} */

.nav-image{
    margin-left: 600px;
}
.about{
    padding: 40px;
    background: rgb(216, 227, 226);
    margin-top: 20px;
    font-size: larger;
}
.portfolio{
    padding: 20px;
    background: rgb(216, 227, 226);
    margin-top: 40px;
}
.contact{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    background: rgb(243, 156, 208);
}
.Call {
    background: linear-gradient(135deg, #d24a97, #460c28);
    color: white;
    border: none;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Hover effect */
.Call:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

/* Click effect */
.Call:active {
    transform: translateY(0);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.btn {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 100px;
    border-radius: 200px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 80px;
}

.primary {
    background: linear-gradient(135deg, #d24a97, #460c28);
    color: white;
    box-shadow: 0 10px 25px rgba(238, 9, 121, 0.3);
}

/* Hover */
.primary:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 30px rgba(238, 9, 121, 0.45);
}

/* Click */
.primary:active {
    transform: translateY(0);
    box-shadow: 0 5px 15px rgba(238, 9, 121, 0.3);
}
.heroc-text{
    display: flex;
    align-items: center;
}
.intro{
    padding-left: 30px;
    padding-bottom: 200px;
    font-size: larger;
}
.Ngadi{
   padding-right: 150px; 
}
.subtitle{
    padding-top: 100px;
    padding-right: 100px;
    font-size: x-large;
}